body{
    font-family: 'Benne', serif;
    font-size: 30px;
}

/* Card */
.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body > * {
    margin-bottom: 0.5rem;
}

.price {
    font-size: 2rem;
}

/* Image */
img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
}

img.small {
    max-width: 5rem;
    width: 100%;
}

img.medium {
    max-width: 20rem;
    width: 50%;
}

img.large {
    width: 100%;
}

article {
    color: #212529;
}

#navbar{
    z-index: 1000;
}

.sidebar-menu {
    background-color: #61dafb;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 77px;    /*left: -300px;*/
    /*-webkit-transform: translateX(0);*/
    /*transform: translateX(0);*/
    /*-webkit-transition: .3s ease all;*/
    /*transition: .3s ease all;*/
}

/*.sidebar-menu.open {*/
/*    -webkit-transform: translateX(300px);*/
/*    transform: translateX(300px);*/
/*}*/

.sidebar-menu .menu .li.a {
    padding: 15px 20px;
    color: #fff;
}
